* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /*font-size: 10px;*/
    /*10px / 16 px = 0.625 = 62.5%*/
    font-size: 62.5%;
    font-family: sans-serif;
}

.title {

    font-size: 9rem;
}

.input {
    width: 30rem;
    height: 4rem;
}

.submit-btn {
    height: 4rem;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}



.todo-list {
    font-size: 3rem;
    display: flex;
    gap: 2rem;

    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    list-style: none;
}


.to-do--li {
    display: flex;
    justify-content: left;
}
